.restaurant {
  background: rgb(28, 206, 152);
  border: 3px solid rgb(19, 10, 145);
  border-radius: 10px;
  box-shadow: 2px 2px 5px cornflowerblue;
  width: 95%;
  margin: auto;
  margin-top: 5px;
  text-align: center;
  line-height: 90vh;
  font-size: 23px;
  color: blue;
}

.restaurant-nav {
  display: flex;
  justify-content: center;
  width: 95%;
  border: 3px solid rgb(19, 10, 145);
  border-radius: 10px 10px 0px 0px;
  box-shadow: 2px 2px 5px cornflowerblue;
  margin: auto;
  margin-top: 5px;
}

.restaurant-view {
  background: rgb(28, 206, 152);
  border: 3px solid rgb(19, 10, 145);
  border-top: 3px;
  border-radius: 0px 0px 10px 10px;
  box-shadow: 2px 2px 5px cornflowerblue;
  width: 95%;
  margin: auto;
  padding-bottom: 10px;
  margin-bottom: 10px;
  height: 100%;
}
.list {
  height: 100%;
  width: 100%;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-content: center;
  align-items: center;
}

.restaurant-form {
  background: rgb(252, 249, 119);
  width: 100%;
  border-radius: 5px 0px 0px 0px;
  border: 1.5px solid rgb(19, 10, 145);
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 10px;
}
.title {
  font-weight: bold;
}

.restaurant-ctl {
  background: rgb(252, 183, 119);
  width: 100%;
  border-radius: 0px 5px 0px 0px;
  border: 1.5px solid rgb(19, 10, 145);
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.restaurant-btn {
  display: flex;
  justify-content: center;
}
.btn {
  border-radius: 10px;
  width: 70%;
  background-color: rgb(15, 98, 175);
  color: #fff;
  font-weight: bold;
  margin-left: 10px;
}
.btn:hover {
  background-color: rgb(0, 162, 255);
  color: #ff0;
}
.btn:disabled {
  background-color: rgba(15, 98, 175, 0.5);
  color: rgba(255, 255, 255, 0.5);
}

.restaurant-input {
  padding-left: 5px;
  display: flex;
}
.restaurant-choice {
  display: flex;
  align-items: center;
}
.radio,
.checkbox {
  height: 15px;
  width: 15px;
}

.restaurant-text {
  padding-left: 5px;
  display: flex;
  align-items: center;
}
.text {
  margin-left: 5px;
  margin-right: 5px;
  width: 50%;
}

.restaurant-item {
  height: 10px;
  font-size: 20px;
  margin: 10px;
  position: relative;
}
.restaurant-item.active {
  color: yellow;
}
.restaurant-item.active::before {
  content: '';
  position: absolute;
  left: -20px;
  top: 3px;
  border-top: 10px solid rgba(0, 0, 0, 0);
  border-bottom: 10px solid rgba(0, 0, 0, 0);
  border-left: 10px solid yellow;
}
.delete {
  background-color: rgb(150, 3, 3);
  width: 20px;
  border-radius: 50%;
  text-align: center;
  padding: 0;
  color: #fff;
  font-weight: bold;
  margin-left: 10px;
}
.delete:hover {
  background-color: red;
}

@media screen and (min-width: 768px) {
  .restaurant-view {
    height: 65vh;
  }
  .list {
    flex-wrap: wrap;
  }
}
